<div class="form">
  <div class="select">
    <mat-form-field class="pick" appearance="fill">
      <mat-label>Escolha um ano</mat-label>
      <mat-select [(ngModel)]="data.AnoConsult" name="data">
        <mat-option *ngFor="let ano of Anos" [value]="ano.anoValue"> {{ano.anoViewValue}} </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="calcular()" (click)="Visible()" color="primary">
      Calcular
    </button>
    <button mat-raised-button (click)="consultar()" color="primary">
      Consultar
    </button>
    <mat-checkbox class="checkVenda" (change)="ocultaVenda()">Ocultar venda</mat-checkbox>
    <mat-checkbox class="checkCusto" (change)="ocultaCusto()">Ocultar custo</mat-checkbox>
    <mat-checkbox class="checkAV" (change)="ocultaAV()">%AV custo e venda</mat-checkbox>
    <div *ngIf="visible">
      <label class="label">Count distinct</label>
      <input matInput class="input" type="text" [value]="count" disabled>
    </div>
  </div>
  <div class="table">
    <table mat-table id="tabela" [dataSource]="orcamentos" class="mat-elevation-z4">

      <ng-container matColumnDef="codProduto">
        <th mat-header-cell *matHeaderCellDef> Cod. produto </th>
        <td mat-cell *matCellDef="let row"> {{row.codProduto}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="nomeProduto">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row"> {{row.nomeProduto}} </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      
      <ng-container matColumnDef="custoUni">
        <th mat-header-cell *matHeaderCellDef> Custo uni. </th>
        <td mat-cell *matCellDef="let row"> {{row.custoUni || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{mediaCustoUnitario() || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaJaneiro">
        <th mat-header-cell *matHeaderCellDef> Venda jan. </th>
        <td mat-cell *matCellDef="let row"> {{row.Janeiro?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaJan || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoJaneiro">
        <th mat-header-cell *matHeaderCellDef> Custo jan. </th>
        <td mat-cell *matCellDef="let row"> {{row.Janeiro?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoJan || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVJan">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV jan. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvJaneiro.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV1">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo jan. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvJanCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaFevereiro">
        <th mat-header-cell *matHeaderCellDef> Venda fev.</th>
        <td mat-cell *matCellDef="let row"> {{row.Fevereiro?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaFev || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoFevereiro">
        <th mat-header-cell *matHeaderCellDef> Custo Fev. </th>
        <td mat-cell *matCellDef="let row"> {{row.Fevereiro?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoFev || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVFev">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV fev. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvFev.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV2">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo fev. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvFevCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaMarço">
        <th mat-header-cell *matHeaderCellDef> Venda Mar. </th>
        <td mat-cell *matCellDef="let row"> {{row.Marco?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaMar || "0" | currency: 'BRL'}} </td>
      </ng-container>


      
      <ng-container matColumnDef="custoMarço">
        <th mat-header-cell *matHeaderCellDef> Custo mar. </th>
        <td mat-cell *matCellDef="let row"> {{row.Marco?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoMar || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVMar">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV mar. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvMar.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV3">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo mar. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvMarCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaAbril">
        <th mat-header-cell *matHeaderCellDef> Venda abr. </th>
        <td mat-cell *matCellDef="let row"> {{row.Abril?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaAbr || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoAbril">
        <th mat-header-cell *matHeaderCellDef> Custo abr. </th>
        <td mat-cell *matCellDef="let row"> {{row.Abril?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoAbr || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVAbr">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV abr. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvAbr.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV4">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo abr. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvAbrCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaMaio">
        <th mat-header-cell *matHeaderCellDef> Venda maio </th>
        <td mat-cell *matCellDef="let row"> {{row.Maio?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaMai || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoMaio">
        <th mat-header-cell *matHeaderCellDef> Custo maio </th>
        <td mat-cell *matCellDef="let row"> {{row.Maio?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoMai || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVMai">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV mai. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvMai.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV5">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo mai. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvMaiCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaJunho">
        <th mat-header-cell *matHeaderCellDef> Venda jun. </th>
        <td mat-cell *matCellDef="let row"> {{row.Junho?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaJun || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoJunho">
        <th mat-header-cell *matHeaderCellDef> Custo jun.</th>
        <td mat-cell *matCellDef="let row"> {{row.Junho?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoJun || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVJun">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV jun. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvJun.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV6">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo jun. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvJunCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaJulho">
        <th mat-header-cell *matHeaderCellDef> Venda jul. </th>
        <td mat-cell *matCellDef="let row"> {{row.Julho?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaJul || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoJulho">
        <th mat-header-cell *matHeaderCellDef> Custo jul. </th>
        <td mat-cell *matCellDef="let row"> {{row.Julho?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoJul || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVJul">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV jul. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvJul.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV7">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo jul. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvJulCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaAgosto">
        <th mat-header-cell *matHeaderCellDef> Venda ago. </th>
        <td mat-cell *matCellDef="let row"> {{row.Agosto?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaAgo || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoAgosto">
        <th mat-header-cell *matHeaderCellDef> Custo ago. </th>
        <td mat-cell *matCellDef="let row"> {{row.Agosto?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoAgo || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVAgo">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV ago. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvAgo.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV8">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo ago. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvAgoCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaSetembro">
        <th mat-header-cell *matHeaderCellDef> Venda set. </th>
        <td mat-cell *matCellDef="let row"> {{row.Setembro?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaSet || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoSetembro">
        <th mat-header-cell *matHeaderCellDef> Custo set. </th>
        <td mat-cell *matCellDef="let row"> {{row.Setembro?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoSet || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVSet">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV set. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvSet.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV9">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo set. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvSetCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaOutubro">
        <th mat-header-cell *matHeaderCellDef> Venda out. </th>
        <td mat-cell *matCellDef="let row"> {{row.Outubro?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaOut || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoOutubro">
        <th mat-header-cell *matHeaderCellDef> Custo out. </th>
        <td mat-cell *matCellDef="let row"> {{row.Outubro?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoOut || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVOut">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV out. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvOut.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV10">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo out. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvOutCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaNovembro">
        <th mat-header-cell *matHeaderCellDef> Venda nov. </th>
        <td mat-cell *matCellDef="let row"> {{row.Novembro?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaNov || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoNovembro">
        <th mat-header-cell *matHeaderCellDef> Custo nov. </th>
        <td mat-cell *matCellDef="let row"> {{row.Novembro?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoNov || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVNov">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV Nov. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvNov.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV11">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo nov. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvNovCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="vendaDezembro">
        <th mat-header-cell *matHeaderCellDef> Venda dez. </th>
        <td mat-cell *matCellDef="let row"> {{row.Dezembro?.valorVenda || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaDez || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="custoDezembro">
        <th mat-header-cell *matHeaderCellDef> Custo dez. </th>
        <td mat-cell *matCellDef="let row"> {{row.Dezembro?.custoTotal || "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custoDez || "0" | currency: 'BRL'}} </td>
      </ng-container>

      
      <ng-container matColumnDef="AVDez">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV dez. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvDez.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      
      <ng-container matColumnDef="AV12">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo dez. </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvDezCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      <ng-container matColumnDef="valorVenda">
        <th mat-header-cell *matHeaderCellDef> Valor venda </th>
        <td mat-cell *matCellDef="let row" class="handle" [ngClass]="{'hidden' : hidden}"> {{row.soma?.somavendas |
          currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{somaTotal || "0" | currency: 'BRL'}} </td>
      </ng-container>

      <ng-container matColumnDef="AVSoma">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV soma total </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvSoma.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      <ng-container matColumnDef="custoTotal">
        <th mat-header-cell *matHeaderCellDef> Custo total </th>
        <td mat-cell *matCellDef="let row" class="handle" [ngClass]="{'hiddenn' : hiddenn}"> {{row.soma?.somaCustos ||
          "0" | currency: 'BRL'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{custosTotal || "0" | currency: 'BRL'}} </td>
      </ng-container>

      <ng-container matColumnDef="AVCusto">
        <th mat-header-cell *matHeaderCellDef [hidden]="show"> AV custo total </th>
        <td mat-cell *matCellDef="let row" [hidden]="show"> {{row.Avs?.AvCusto.toFixed(2) || "0"}}% </td>
        <td mat-footer-cell *matFooterCellDef [hidden]="show"> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
</div>