.form {
  background-color: #fff;
  border-radius: 16px;
  height: 55em;
  width: 78rem;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 98%;
  align-items: center;
  top: 1.9rem;
  margin-left: 20px;
  margin-right: 20px;
}

.table {
  table {
    width: 100%;
    text-align: right;
  }

  position: relative;
  width: 98%;
  height: 33rem;
  border-width: 1px;
  border-style: outset;
  border-color: black;
  margin-right: 80px;
  margin-left: 20px;
  border-collapse: separate;
  border-spacing: 50px 0;
  overflow-x: auto;
  overflow-y: auto;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

label {
  position: absolute;
  left: 22px;
  bottom: 50px;
}

.input {
  position: absolute;
  left: 130px;
  bottom: 50px;
}

.select {
  margin-top: 10px;
  height: 8rem;

  button {
    float: right;
    margin-left: 1rem;
    margin-top: 20px;
    margin-right: 20px;
  }

  .pick {
    float: left;
    margin-left: 1.5rem;
    margin-top: 20px;
    margin-right: 20px;
  }

  .checkVenda {
    float: left;
    margin-left: 20rem;
    margin-top: 30px;
  }

  .checkCusto {
    float: left;
    margin-top: 80px;
    margin-left: -6.89rem;
  }

  .checkAV{
    float: left;
    margin-left: 10rem;
    margin-top: 30px;
  }

  .checkCxV{
    float: left;
    margin-top: 80px;
    margin-left: -8.87rem;
  }
}

.handle {
  &.hidden {
    visibility: hidden;
  }
}

.handle {
  &.hiddenn {
    visibility: hidden;
  }
}